.bg-img-1 {
  background-image:url('./pexels-pavel-chernonogov-4025501.jpg');
}
.bg-img-2 {
  background-image:url('./pexels-quang-nguyen-vinh-2138126.jpg');
}
.bg-img-3 {
  background-image:url('./pexels-ag-photography-12455093.jpg');
}

